<% title "Payment Methods" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Priority</th>
  </tr>
  <% for payment_method in @payment_methods %>
    <tr>
      <td><%=h payment_method.name %></td>
      <td><%=h payment_method.description %></td>
      <td><%=h payment_method.priority %></td>
      <td><%= link_to "Show", payment_method %></td>
      <td><%= link_to "Edit", edit_payment_method_path(payment_method) %></td>
      <td><%= link_to "Destroy", payment_method, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Payment Method", new_payment_method_path %></p>
