<table width="100%">
	<tr>
		<td style="width:20%"><b>Packing List Number</b> </td>
		<td> <%= @packing_list.packing_list_number %></td>
		<td style="width:20%"><b>Packing List Date</b> </td>
		<td> <%= @packing_list.packing_date.strftime("%d-%m-%Y") rescue "-"  %>
		</td>
	</tr>
	<tr>
		<td style="width:20%"><b>PO Number</b></td>
		<td><%= @packing_list.outlet_purchase_order.purchase_order_number  rescue "-" %></td>
		<td style="width:20%"><b>Outlet</b></td>
		<td><%= @packing_list.outlet.name rescue "-"  %></td>
	</tr>
</table>
<br />

<br />
<table width="100%" border="1">
  <thead>
	<tr>
                <th>Location</th>
		<th>Code</th>
		<th>Name</th>
		<th>UOM</th>
		<th>Quantity Order</th>
		<th>Quantity Picked</th>
	</tr>
	    </thead>
   <tbody>
   	<% for item in @items %>
	<tr>
          <td align="center"><%= item.store_location.name rescue "-"  %></td>
          <td align="center"><%= item.product.code rescue "-"  %></td>
          <td align="center"><%= item.product.name rescue "-"  %></td>
          <td align="center"><%= item.product_uom.name rescue "Not Assigned" %></td>
          <td align="center"><%= item.quantity %></td>
          <td align="center"><%= text_field_tag "quantity" %></td>
	</tr>
	<% end %>
	
	</tbody>
</table>