<h1>Editing packing_purchase_requisition</h1>

<%= form_for(@packing_purchase_requisition) do |f| %>
   <% render "/shared/error_messages", :target => @packing_purchase_requisition %>
  <p>
    <%= f.label :packing_list_id %><br />
    <%= f.text_field :packing_list_id %>
  </p>
  <p>
    <%= f.label :outlet_purchase_order_id %><br />
    <%= f.text_field :outlet_purchase_order_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @packing_purchase_requisition %> |
<%= link_to 'Back', packing_purchase_requisitions_path %>