<%= form_for @stock do |f| %>
   <% render "/shared/error_messages", :target => @stock %>  <p>
    <%= f.label :store_location_id %><br />
    <%= f.text_field :store_location_id %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
