<% title (t "titles.new") %>

<%= form_for(@department) do |f| %>
 <% render "/shared/error_messages", :target => @department %>
  <p>
    <%= f.label :name, (t "common.name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, (t "common.description") %><br />
    <%= f.text_area :description, :size => "60x6" %>
  </p>
  <br />
  <hr />
  <br />
  <h2>Assign Authorization</h2>
 <table style="width:80%">
 	
  <% AccessibleMenu.all(:order => "name").in_groups_of(5, false) do |group| %>
    <tr>
    	
	<% for e in group %>
	  <td>
	    <%= check_box_tag "department[accessible_menu_ids][]", e.id %> 
	    <%= e.name %>
	  </td>
	<% end %>
	</tr>
  <% end %>
</table>
  <p>
    <%= f.submit((t "links.submit"), :disable_with => "Please Wait ...") %>
  </p>
<% end %>

<%= link_to (t "links.back"), departments_path %>