<%= form_for @customer do |f| %>
  <% render "/shared/error_messages", :target => @customer %>
  <p>
    <%= f.label :name, (t "common.name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :home_address, (t "customer.home_address") %><br />
    <%= f.text_area :home_address, :size => "60x6" %>
  </p>
 
  <p>
    <%= f.label :company_address, (t "customer.company_address") %><br />
    <%= f.text_area :company_address, :size => "60x6" %>
  </p>
  <p>
    <%= f.label :mobile_number, (t "customer.mobile_number") %><br />
    <%= f.text_field :mobile_number %>
  </p>
  <p>
    <%= f.label :additional_phone_one, (t "customer.additional_phone_one") %><br />
    <%= f.text_field :additional_phone_one %>
  </p>
  <p>
    <%= f.label :additional_phone_two, (t "customer.additional_phone_two") %><br />
    <%= f.text_field :additional_phone_two %>
  </p>
  <p>
    <%= f.label :home_phone_number, (t "customer.home_phone_number") %><br />
    <%= f.text_field :home_phone_number %>
  </p>
  <p>
    <%= f.label :office_phone_number, (t "customer.office_phone_number") %><br />
    <%= f.text_field :office_phone_number %>
  </p>
  <p>
    <%= f.label :fax_number, (t "customer.fax_number") %><br />
    <%= f.text_field :fax_number %>
  </p>
  <p>
    <%= f.label :credit_limit, (t "customer.credit_limit") %><br />
    <%= f.text_field :credit_limit %>
  </p>

  <p>
    <%= f.label :suspend, (t "customer.suspend") %><br />
    <%= f.check_box :suspend %>
  </p>
  <p><%= f.submit(t "links.submit") %></p>
<% end %>
