<br />
<br />
<br />

<%= link_to 'Edit', edit_outlet_path(@outlet) %> |
<%= link_to 'Back', outlets_path %>
<br /><br />
<p>
  <b>Outlet No:</b>
  <%=h @outlet.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @outlet.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @outlet.address %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @outlet.phone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%=h @outlet.fax_number %>
</p>

<p>
  <b>Contact:</b>
  <%=h @outlet.contact %>
</p>

<p>
  <b>Area:</b>
  <%=h @outlet.area %>
</p>

<p>
  <b>Term:</b>
  <%=h @outlet.term %>
</p>

<p>
  <b>Pricing Category:</b>
  <%=h @outlet.pricing_category %>
</p>

<p>
  <b>Domain name:</b>
  <%=h @outlet.domain_name %>
</p>


<br />
<hr />
<br />



