<p>
  <strong><%=t "cheque.cheque_number" %>r:</strong>
  <%=h @cheque.cheque_number %>
</p>
<p>
  <strong><%=t "cheque.cheque_bank" %>:</strong>
  <%=h @cheque.bank.name %>
</p>

<p>
  <strong><%=t "cheque.owner_name" %>:</strong>
  <%=h @cheque.owner_name %>
</p>
<p>
  <strong><%=t "cheque.cheque_date" %>:</strong>
  <%=h @cheque.cheque_date %>
</p>
<p>
  <strong> <%=t "cheque.bank_account_no" %>:</strong>
  <%=h @cheque.bank_account_number %>
</p>
