<% @page_title =  (t "titles.store_location") %>
<br>
<%= link_to image_tag("new.png", :title => "New"), new_store_location_path %></p>
<br>
<table class="list">
  <thead>
  <tr>
    <th align="left"><%=t 'common.name' %></th>
    <th align="left"><%=t 'common.description' %></th>
	
	<th><%=t 'common.action' %></th>
  </tr>
    </thead>
   <tbody>
  <% for store_location in @store_locations %>
     <tr class="<%= cycle("odd", "even") %>">
      <td><%=h store_location.name %></td>
      <td><%=h store_location.description %></td>
	
      <td align="center"><%= link_to image_tag("show.png", :title => "show"),  store_location %>
      <%= link_to image_tag("edit.png", :title => "Edit"),  edit_store_location_path(store_location) %>
      <%= link_to image_tag("delete.png", :title => "Delete"), store_location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    

  <% end %>
    </tbody>
</table>



<br />
