
  <table width="50%">
  <tr>
  	<td>
  		<%= hidden_field "outlet_purchase_order[outlet_purchase_order_item_attributes][][outlet_purchase_order_id]",  @outlet_purchase_order.id %>
   	</td>
	
  	<td>
  			<%=t "invoice.product" %> : <%= select_tag("outlet_purchase_order[outlet_purchase_order_item_attributes][][product_id]", options_from_collection_for_select(@products, :id, :name)) %>
  	</td>
	<td>
		<%=t "invoice.quantity" %> : <%= text_field_tag "outlet_purchase_order[outlet_purchase_order_item_attributes][][quantity]", nil, :size => 5 %>
	</td>
	
	<!--<td>
		Remark : <%= text_field_tag "purchase_invoice[purchase_invoice_item_attributes][][remark]" %>
	</td>-->
    
  </tr>
  </table>
