<% title "Purchase Invoice Item" %>

<p>
  <strong>Purchase Invoice:</strong>
  <%=h @purchase_invoice_item.purchase_invoice_id %>
</p>
<p>
  <strong>Product:</strong>
  <%=h @purchase_invoice_item.product_id %>
</p>
<p>
  <strong>Quantity:</strong>
  <%=h @purchase_invoice_item.quantity %>
</p>
<p>
  <strong>Unit Price:</strong>
  <%=h @purchase_invoice_item.unit_price %>
</p>
<p>
  <strong>Remark:</strong>
  <%=h @purchase_invoice_item.remark %>
</p>

<p>
  <%= link_to "Edit", edit_purchase_invoice_item_path(@purchase_invoice_item) %> |
  <%= link_to "Destroy", @purchase_invoice_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", purchase_invoice_items_path %>
</p>
