<% title (t "titles.change_password") %>


<%= form_tag update_password_outlet_staff_path(@outlet_staff) do  %>
 <% render "/shared/error_messages", :target => @outlet_staff %>
  
  <p>
    <%=t 'user.password' %> <br />
    <%= password_field "outlet_staff", :password %>
  </p>
  <p>
    <%=t 'user.confirm_password' %><br />
    <%= password_field "outlet_staff", :password_confirmation %>
  </p>
  <p><%= submit_tag(t "links.update") %> |   <%= link_to (t "links.back"), outlet_staffs_path %></p>
<% end %>

<p>

</p>
