<%#= render '/shared/product_header' %>


<% @page_title =  (t "titles.product") %>
<br />
<p>
   
  <%= link_to image_tag("edit.png", :title => "Edit"), edit_product_path(@product) %> |
  <%= link_to image_tag("delete.png", :title => "Delete"), @product, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to image_tag("home.png", :title => "View All"), products_path %>
</p>
<p>
   <%=raw generate_previous_next_label(@first, @previous, @next, @last) %>	
</p>
<br />

<table style="width:50%">
	<tr>
		<td style="width:30%"><strong><%=t 'product.code' %>:</strong></td>
		<td style="width:70%"><%=h @product.code %></td>
	</tr>
	<tr>
		<td><strong><%=t 'product.name' %>:</strong></td>
		<td> <%=h @product.name %></td>
	</tr>
	<tr>
		<td><strong><%=t 'product.product_category' %>:</strong></td>
		<td><%=h @product.product_category_name %></td>
	</tr>
	<tr>
		<td><strong><%=t 'product.description' %>:</strong></td>
		<td><%=h @product.description %></td>
	</tr>
	<tr>
		<td><strong><%=t 'product.stock_quantity' %>:</strong></td>
		<td> <%=h @product.on_hand_quantity %></td>
	</tr>
	<tr>
		<td><strong>Public? :</strong></td>
		<td><%= show_image(@product.is_public?) %></td>
	</tr>
	<tr>
		<td> <strong><%=t 'product.active' %>? :</strong></td>
		<td> <%= show_image(@product.active?) %></td>
	</tr>
		<tr>
		<td> <strong>Central Product? :</strong> </td>
		<td> <%= show_image(@product.central_product?) %></td>
	</tr>
		<tr>
		<td valign="top"><strong><%=t 'product.image' %>:</strong></td>
		<td><%= image_tag @product.photo.url(:thumb) %></td>
	</tr>
</table>


<br />
<hr />

  <div style="height:38px">
  	<p id="note" style="display:none;" class="flash_notice">
  	  Operation Completed
    </p>
  </div>

<!--   <ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a href="#home">
	  	 
	  </a></li>
	  <li><a href="#uom">UOM</a></li>
	  <li><a href="#assignment">Assignment</a></li>
	 
  </ul> -->
 
	<div class="tab-content">
	  <div class="tab-pane active" id="home">
	  	<h2><% if @product.central_product %>
			   Location
			 <% else %>
			   Suppliers
			 <% end %>
			</h2>
	  	<%= render :partial => "suppliers"%>
	  </div>
	  <div class="tab-pane" id="uom">
	  	<h2>UOM</h2>
	  	<%= render :partial => 'uom_listing', :locals => {:product => @product}%>
	  </div>
	  <div class="tab-pane" id="assignment">
	  	<h2>Assignment</h2>
	  	<%= render :partial => "uom_assignment", :locals => {:product => @product}%>
	  </div>
  </div>
 
 <script>
//   $(function () {
//     $('#myTab a:last').tab('show');
//   })
</script>
