<%= form_for @document_category do |f| %>
  <% render "/shared/error_messages", :target => @document_category %>  <p>
    <%= f.label :name, (t "common.name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, (t "common.description") %><br />
    <%= f.text_area :description, :size => "60x8" %>
  </p>
  <p><%= f.submit(t "links.submit") %></p>
<% end %>
