<div class="menu">
		<ul>
			
			<li><a href="#" ><%=t 'menu.inventory' %></a>
			  <ul>
			  	<li><a href="/product_groups">Product Groups</a></li>
			  	<li><a href="/product_categories"><%=t 'menu.product_category' %></a></li>
                <li><a href="/products"><%=t 'menu.product' %></a></li>
                
                <li><a href="/store_locations"><%=t 'menu.location' %></a></li>
                <li><a href="/stock_adjustments"><%=t 'menu.stock_adjustment' %></a></li>
                <li><a href="/stock_transfers"><%=t 'menu.stock_transfer' %></a></li> 		
			  </ul>
			</li>
			
			<li><a href="#"><%=t 'menu.ap_management' %></a>
               <ul>
			     <li><a href="/suppliers"><%=t 'menu.supplier' %></a></li>
				 <li><a href="/purchase_orders"><%=t 'menu.purchase_order' %></a></li>
			     <li><a href="/supplier_payments"><%=t 'menu.payment' %></a></li>
		       </ul>
          </li>
			<li><a href="#"><%=t 'menu.outlet_management' %></a>
			   <ul>
			     
				  <li><a href="/home">Pending Outlet PO</a></li>	
			     <li><a href="/outlet_purchase_orders">Completed Outlet PO</a></li>
			      <li><a href="/packing_lists"><%=t 'menu.packing_list' %></a></li>
			      <li><a href="/invoices"><%=t 'menu.invoice' %></a></li>
			     <li><a href="#"><%=t 'menu.grn' %></a></li>
			     <li><a href="/outlets"><%=t 'menu.outlet' %></a></li>
		         <li><a href="/outlet_staffs"><%=t 'menu.outlet_staff' %></a></li>	
		        
		       </ul>
		  </li>
		  
		  <li><a href="#"><%=t 'menu.admin' %></a>
			  <ul>
			    <li><a href="/companies"><%=t 'menu.company' %></a></li>
			    <li><a href="/departments"><%=t 'menu.department' %></a></li>
			    <li><a href="/users"><%=t 'menu.user' %></a></li>
			    <li><a href="/document_categories"><%=t 'menu.document_category' %></a></li>
			    <li><a href="/document_storages/category_index"><%=t 'menu.document' %></a></li>			
		      </ul>
		    </li>
		  
		  <li><a href="#"><%=t 'menu.misc' %></a>
			  <ul>
			    <li><a href="/expenses"><%=t 'menu.expenses' %></a></li>
			    <li><a href="/cheques"><%=t 'menu.cheques' %></a></li>

		      </ul>
		  </li>
		  
		  <li><a href="#"><%=t 'menu.report' %></a>
			  <ul>
			   
			    <li><a href="/report/sales"><%=t 'menu.sales' %></a></li>
			    <li><a href="/report/stock_report"><%=t 'menu.stock' %></a></li>
			    <li><a href="/stocks"><%=t 'menu.location_stock' %></a></li>
			    <li><a href="/report/profit_and_loss"><%=t 'menu.profit_loss' %></a></li>
			    <li><a href="/product_movements"><%=t 'menu.product_movement' %></a></li>			
		      </ul>
		  </li>
		
		</ul>
	</div>